.grid {
    text-align: center;

    &-container {
        column-gap: 16px;
        display: grid;

        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
        padding: 16px;

        > div {
            border-radius: 5px;
            overflow: hidden;
        }
    }

    &-map {
        grid-column-start: 1;
        grid-column-end: 3;
        height: 220px;
    }

    &-altitude {
        max-width: 500px;
        grid-row: 2;
    }

    &-temperature {
        grid-column: 2;
        grid-row: 2;
    }
}