<div>
    <button (click)="getFlightEnvironmentData()">getEvents()</button>
    <button (click)="getGondolaAttitudeAndHeadingData()">getFlightEnvironmentData()</button>
    <button (click)="getGondolaPositionData()">getGondolaAttitudeAndHeadingData()</button>
    <button (click)="getMinMax()">getGondolaPositionData()</button>
    <button (click)="getPhotoData()">getMinMax()</button>
    <button (click)="getSWCDHHardwareHousekeepingData()">getPhotoData()</button>
    <button (click)="getSWCDHSoftwareHousekeepingData()">getSWCDHHardwareHousekeepingData()</button>
    <button (click)="getSWEMHousekeepingData()">getSWCDHSoftwareHousekeepingData()</button>
    <button (click)="getSWNAVHousekeepingData()">getSWEMHousekeepingData()</button>
    <button (click)="getIOCTLHousekeepingData()">getSWNAVHousekeepingData()</button>
    <button (click)="getEvents()">getIOCTLHousekeepingData()</button>
</div>
<div class="grid-container">
    <div class="grid-graph">graph</div>
    <div class="grid-list">list</div>
    <app-map class="grid-map"></app-map>
</div>