<div>
    <button (click)="getEvents()">get events()</button>
    <button (click)="getFinalData()">get final()</button>
    <button (click)="getIOCTLHousekeepingData()">ioctl()</button>
    <button (click)="getMinMax()">minmax()</button>
    <button (click)="getPhotoData()">photo data()</button>
    <button (click)="getSWCDHHardwareHousekeepingData()">swcdh hard()</button>
    <button (click)="getSWCDHSoftwareHousekeepingData()">swcdh soft()</button>
    <button (click)="getSWEMHousekeepingData()">swem ()</button>
    <button (click)="getSWNAVHousekeepingData()">swnav()</button>
    <button (click)="getFlightEnvironmentData()">flight env()</button>
</div>
<div class="grid-container">
    <div class="grid-graph">graph</div>
    <div class="grid-list">list</div>
    <app-map class="grid-map"></app-map>
</div>