.grid {
    text-align: center;

    &-container {
        column-gap: 20px;
        display: grid;
        grid-template-areas: "map    map"
                             "graph  list";
        padding: 0 2%;
        row-gap: 20px;
    }

    &-graph {
        background-color: orange;
        grid-area: graph;
        height: 400px;
    }

    &-list {
        background-color: greenyellow;
        grid-area: list;
        height: 150px;
    }

    &-map {
        border: 1px solid red;
        grid-area: map;
        height: 220px;
    }
}