<div class="wrapper">
    <h3>Photos</h3>

    <!-- Junior Astronaut -->
    <div #junior class="junior-astronaut">
        <h5>Front</h5>
        <img src="../../assets/audience-selector-background.jpg" />
    </div>

    <!-- Enthusiast -->
    <div #enthusiast class="enthusiast">
        <h5>Bottom</h5>
        <img src="../../assets/audience-selector-background.jpg" />
    </div>

    <!-- Professional -->
    <div #professional class="professional">
        <button #downloadButton>Download Large</button>
    </div>

</div>