.wrapper {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 16px;

    grid-template-columns: auto;
    display: grid;

    > div {
        grid-column: 1;
        grid-row: 2;

        &.hidden {
            display: none;
        }
    }
}

h3 {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    margin: 0px 0px 16px 0px;
}

.junior-astronaut {

    .bar {
        justify-content: space-between;
        display: flex;

        .value-bar {
            background: #EBF0F5;
            align-self: center;
            border-radius: 5px;
            overflow: hidden;
            margin: 0 16px;
            flex-grow: 1;
            height: 10px;

            .fill {
                border-radius: 5px;
                height: 100%;
                width: 30%;

                background: #6799C5;
            }
        }
    }

    .text {
        font-family: Helvetica Neue, Helvetica, sans-serif;
        color: #1464AC;
        font-weight: 500;
        font-size: 24px;

        text-align: center;
    }

    img {
        width: 48px;
    }

    .bottom {
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        display: flex;
    }
}

.enthusiast {

    grid-template-rows: auto auto;
    display: grid;

    .enthusiast-svg {

        width: 100%;

        .text {
            font-family: Helvetica Neue, Helvetica, sans-serif;
        }
    }

    .buttons {
        text-align: center;
        margin-top: 24px;
        grid-row: 2;
    }
}

.professional {
    grid-template-rows: auto auto;
    display: grid;

    .buttons {
        text-align: center;
        margin-top: 24px;
        grid-row: 2;
    }
}

.buttons {
    
    span{
        font-family: Helvetica Neue, Helvetica, sans-serif;
        background: #DDDDDD;
        padding: 8px 16px;

        &:first-child {
            border-radius: 5px 0px 0px 5px;
        }

        &:last-child {
            border-radius: 0px 5px 5px 0px;
        }

        &.selected {
            background: #AAAAAA;
        }

        &:hover {
            background: #999999;
            cursor: pointer;
        }
    }
}