<div class="wrapper">
    <h3>Altitude</h3>

    <!-- Junior Astronaut -->
    <div #junior class="junior-astronaut">
        
        <!-- CN Tower Image -->
        <img src="../../assets/cn-tower.jpg" />

        <!-- Text -->
        <div class="column">
            <span class="explanation">
                The stratospheric balloon was as high as <span class="mult-value">2</span>
                times the height of the CN Tower in Toronto (553m).
            </span>
            <span class="multiplier">x<span class="mult-value">2</span></span>
            <span class="value">10KM</span>
        </div>

    </div>

    <!-- Enthusiast -->
    <div #enthusiast class="enthusiast">
        <svg #enthusiastSvg class="enthusiast-svg"></svg>
    </div>

    <!-- Professional -->
    <div #professional class="professional">
        <svg #professionalSvg class="enthusiast-svg"></svg>
    </div>

</div>